




TODO

* App icon - Done
* Game graphics
* App theme
* Create AdMob app - Done
* Ad IDs
* Home screen
* Instructions screen
* Settings screen -
* Privacy policy - Done
* Game Controls -


* Crowd cheering sound effect
    - louder when a Rikishi is near the edge of the ring
    - louder when a Rikishi is thrown out of the ring



Gyōji = referee in the ring.
Shimpan = judges around the ring who can overrule the Gyōji.

Poly lecturers vision of horror.
